# Python
__pycache__/
*.py[cod]
*.class
*.so
*.egg-info/
dist/
build/
*.egg

# Blender
*.blend1
*.blend2
*.blend
*.zip

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Blender extensions
extensions/
